/* ---------- Imported font from Google Fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


/* ---------- CSS variables ---------- */
:root {

    /* Colors */
    --first-color: #EFF6EE;
    --second-color: #9197AE;
    --third-color: #445474;
    --fourth-color: #970C13;
    --title-color: #000000;
    --title-color-second: #EFF6EE;
    --text-color: #5B5757;
    --text-color-light: #8F8A8A;

    /* Font and typography */
    --body-font: 'Lato', sans-serif;
    --biggest-font-size: 32px;
    --big-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 18px;
    --normal-font-size: 15px;
    --small-font-size: 12px;
    --font-light: 300;
    --font-medium: 400;
    --font-bold: 700;

    /* Z index */
    --z-tooltip: 1;
    --z-fixed: 2;
}

/* CSS variables when screen size is larger than 968px */
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 48px;
        --big-font-size: 36px;
        --h2-font-size: 28px;
        --h3-font-size: 20px;
        --normal-font-size: 16px;
        --small-font-size: 14px;
    }
}


/* ---------- General declarations ---------- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--first-color);
    color: var(--text-color);
    line-height: 1.6;
}

main {
    overflow: hidden;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* ---------- Declarations by class ---------- */
.section {
    padding: 4rem 0 2rem;
}

.section_title {
    font-size: var(--h2-font-size);
    text-align: center;
    margin: 0.5rem 0 2rem;
}

.bd_container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Header and navigation bar */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--third-color);
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav bar when screen size is smaller than 768px */
@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0 0 0;
        text-align: center;
        font-size: var(--normal-font-size);
        color: var(--title-color);
        background-color: var(--first-color);
        border-radius: 1rem;
        transition: 0.4s;
        box-shadow: 0 0 4px rgba(0,0,0,.1);
        z-index: var(--z-fixed);
    }
}

.nav_item {
    margin-bottom: 1.5rem;
}

.nav_list {
    margin-bottom: 2rem;
}

.nav_logo, .nav_toggle {
    color: var(--title-color-second);
    font-weight: var(--font-bold);
}

.nav_toggle {
    font-size: 1.75rem;
    cursor: pointer;
}

.nav_link {
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: 0.3s;
}

/* JavaScript effect */
/* The hidden menu will become visible when the user clicks on the icon */
.show_menu {
    top: 3.75rem;
}

/* JavaScript effect */
/* The active menu link will always be marked */
.active_link {
    position: relative;
}

.active_link::before {
    content: '';
    position: absolute;
    bottom: -0.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}

/* JavaScript effect */
/* The header background will change when the user scrolls the page */
.scroll_header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* JavaScript effect */
/* Scroll-to-top button will appear when screen size larger than 968px */
@media screen and (min-width: 968px) {
    .scrolltop {
        position: fixed;
        display: flex;
        right: 1rem;
        bottom: -20%;
        padding: 0.3rem;
        justify-content: center;
        align-items: center;
        color: var(--first-color);
        background: var(--fourth-color);
        z-index: var(--z-tooltip);
        border-radius: 0.75rem;
        transition: 0.4s;
        visibility: hidden;
    }

    .scrolltop_alt {
        color: var(--fourth-color);
        background: var(--first-color);
    }
    
    .scrolltop i {
        font-size: 1.5rem;
    }
    
    .show_scroll {
        visibility: visible;
        bottom: 1.5rem;
    }
}

/* Home: Image Slider */
.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    position: absolute;
    width: 300%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 2s ease;
}

.slide {
    position: relative;
    width: 33.33%;
    height: 100%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.slide_data {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20%;
}

.slide_data_1, .slide_data_2, .slide_data_3 {
    top: 37%;
}

.slide_data h1 {
    font-size: var(--biggest-font-size);
    color: var(--title-color-second);
    text-transform: uppercase;
    width: 150%;
}

.slide_data p {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    color: var(--title-color-second);
    margin: 20px 0;
    width: 150%;
}

.slide_button {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    color: var(--first-color);
    padding: 10px 25px;
    border: 1px solid var(--first-color);
    border-radius: 4rem;
    background: transparent;
    outline: none;
}

.slide_1 {
    background-image: url(slide1.jpg);
}

.slide_2 {
    background-image: url(slide2.jpg);
}

.slide_3 {
    background-image: url(slide3.jpg);
}

.arrows {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    color: var(--first-color);
    font-size: 60px;
    transition: 0.4s linear;
}

.slider .arrows label {
    display: none;
}

.arrow_left {
    left: 3%;
}

.arrow_right {
    right: 3%;
}

.slider input:nth-child(1):checked ~ .slides {
    left: 0;
}

.slider input:nth-child(2):checked ~ .slides {
    left: -100%;
}

.slider input:nth-child(3):checked ~ .slides {
    left: -200%;
}

.slider input:nth-child(1):checked ~ .arrows label:nth-child(1),
.slider input:nth-child(2):checked ~ .arrows label:nth-child(2),
.slider input:nth-child(3):checked ~ .arrows label:nth-child(3) {
    display: block;
}

.dots {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 50px;
}

.dots label {
    display: inline-block;
    border-radius: 100%;
    margin: 0 6px;
    width: 25px;
    height: 25px;
    background-color: var(--first-color);
}

.slider input:nth-child(1):checked ~ .dots label:nth-child(1),
.slider input:nth-child(2):checked ~ .dots label:nth-child(2),
.slider input:nth-child(3):checked ~ .dots label:nth-child(3) {
    background-color: var(--fourth-color);
    border: 2px solid var(--first-color);
}

/* Home: Others */
.home_title {
    align-items: center;
    text-align: center;
    font-size: var(--biggest-font-size);
    margin: 2rem 0 1rem;
}

.home_description {
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Buttons */
.button {
    display: inline-block;
    color: var(--title-color-second);
    background-color: var(--third-color);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
}

.button_link {
    background: none;
    padding: 0;
    color: var(--fourth-color);
}

.button_center {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 110px;
}

/* Departments */
.departments_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.departments_data {
    text-align: center;
    background-color: var(--first-color);
    box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
    border-radius: 1rem;
}

.departments_title {
    font-size: var(--font-medium);
    margin-bottom: 0.5rem;
}

/* Arrivals */
.arrivals_container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
}

.arrivals_data {
    position: relative;
    display: grid;
    padding: 0.25rem 0.75rem 0.75rem;
    background-color: var(--first-color);
    box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
    border-radius: 1rem;
}

.product_img {
    justify-self: center;
    margin-bottom: 0.25rem;
}

.product_title {
    text-align: center;
    font-size: var(--medium-font-size);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product_link {
    text-align: center;
    color: var(--title-color);
}

.product_department {
    text-align: center;
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.product_price {
    position: absolute;
    bottom: 0;
    left: 5%;
    color: var(--title-color);
    font-weight: var(--font-bold);
    padding: 0.5rem 0.625rem;
}

.product_button {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    font-size: 1.25rem;
    padding: 0.5rem 0.625rem;
    border-radius: 1rem 0 1rem;
}

/* About */
.about {
    background-color: var(--fourth-color);
}

.about_title {
    color: var(--title-color-second);
}

.about_container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;  
}

.about_data {
    text-align: center;
    padding: 1rem 1rem;
    background-color: var(--first-color);
    box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
    border-radius: 1rem;
}

.about_img {
    width: 60px;
    justify-self: center;
}

.newsletter_content {
    padding-bottom: 2rem;
}

.newsletter_title {
    text-align: center;
    font-size: var(--big-font-size);
    color: var(--title-color-second);
    margin-bottom: 0.5rem;
}

.newsletter_description {
    text-align: center;
    font-size: var(--h3-font-size);
    color: var(--title-color-second);
    margin-bottom: 1.5rem;
}

.newsletter_form {
    display: flex;
    background-color: var(--first-color);
    padding: 0.5rem;
    border-radius: 1rem;
}

.email_input {
    width: 90%;
    padding-left: 0.5rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    font-size: var(--normal-font-size);
}

.email_input::placeholder {
    color: var(--text-color-light);
}

/* Footer */
.footer_container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer_title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footer_link {
    display: inline-block;
    color: var(--text-color);
}

.footer_social {
    font-size: 2rem;
    color: var(--title-color);
    margin-right: 1.2rem;
}

.footer_copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 2rem;
}


/* ---------- Media query: screen size smaller than 360px ---------- */
@media screen and (max-width: 359px) {
    .departments_img, .product_img, .about_img {
        width: 100%;
    }
}


/* ---------- Media query: screen size 576px or larger ---------- */
@media screen and (min-width: 576px) {
    .bd_container {
        max-width: 968px;
        width: calc(100% - 5rem);
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .section_title {
        margin: 1.5rem 0 2.5rem;
    }

    /* Home: Image Slider */
    .slide_data h1 {
        width: 120%;
    }
    
    .slide_data p {
        width: 120%;
    }

    /* Buttons */
    .button_center {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    /* Departments */
    .departments_container {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Arrivals */
    .product_img {
        width: 220px;
    }

    /* About */
    .about_img {
        width: 100px;
    }

    .newsletter_form {
        margin: 0 3rem;
    }
}


/* ---------- Media query: screen size 768px or larger ---------- */
@media screen and (min-width: 768px) {
    .section {
        padding: 6rem 0 4rem;
    }

    .section_title {
        margin: 1rem 0 2.5rem;
    }

    /* Nav bar */
    .nav {
        height: 4.5rem;
    }

    .nav_list {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    .nav_item {
        margin: 0 0.5rem 0 2rem;
    }

    .nav_link {
        color: var(--first-color);
    }

    .nav_toggle {
        display: none;
    }

    .active_link::before {
        background-color: var(--title-color-second);
    }

    /* Home: Image Slider */
    .slide_data_1, .slide_data_2, .slide_data_3 {
        top: 39.5%;
    }

    .slide_data h1 {
        width: 130%;
    }
    
    .slide_data p {
        width: 130%;
    }

    /* Home: Others */
    .home_description {
        font-size: var(--h3-font-size);
    }

    /* Arrivals */
    .arrivals_container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.75rem;
    }

    .arrivals_data {
        padding: 0.5rem 2rem 1.5rem;
    }

    .product_img {
        width: 250px;
        margin-bottom: 0.75rem;
    }

   .product_department {
        font-size: var(--normal-font-size);
    }

    .product_price {
        padding: 0.75rem 0.75rem 0.75rem 5%;
    }

    .product_button {
        padding: 0.75rem;
        font-size: 1.5rem;
    }

    /* About */
    .about_container {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.75rem;
    }

    .newsletter_form {
        margin: 0 5rem;
    }

    /* Footer */
    .footer_copy {
        font-size: var(--normal-font-size);
        margin-top: 3rem;
    }
}


/* ---------- Media query: screen size 968px or larger ---------- */
@media screen and (min-width: 968px) {
    .bd_container {
        margin-left: auto;
        margin-right: auto;
    }

    /* Nav bar */
    .nav_logo {
        font-size: var(--h3-font-size);
    }

    .nav_item:hover {
        transform: scale(1.1);
    }

    .scrolltop:hover,
    .scrolltop_alt:hover {
        transform: scale(1.2);
    }

    /* Home: Image Slider */
    .slide_data_1, .slide_data_2, .slide_data_3 {
        top: 38.5%;
    }

    .slide_button:hover {
        color: var(--title-color);
        background-color: var(--title-color-second);
        cursor: pointer;
    }

    .arrows:hover {
        color: var(--fourth-color);
        text-shadow: 0px 0px 10px var(--first-color), 0px 0px 10px var(--first-color);
    }

    .arrows i:hover {
        cursor: pointer;
    }

    .dots label:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    /* Buttons */
    .button_center, .submit_button {
        text-align: center;
        font-size: 18px;
        width: 125px;
    }

    .button_center:hover {
        transform: scale(1.1);
    }

    .submit_button:hover {
        background-color: var(--second-color);
        cursor: pointer;
    }

    /* Departments */
    .departments_container {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1rem;
    }

    .departments_data:hover {
        box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
    }

    /* Arrivals */
    .arrivals_container {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }

    .arrivals_data:hover {
        box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
    }

    .product_button i:hover {
        transform: scale(1.2);
    }

    /* About */
    .about_container {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }

    .about_item_title {
        font-size: var(--normal-font-size);
    }

    .newsletter_form {
        margin: 0 12rem;
    }

    /* Footer */
    .footer_copy {
        margin-top: 4rem;
    }

    .footer_social i:hover {
        transform: scale(1.2);
    }
}